html{overflow: hidden;}

html, body{width: 100%; height: 100%;}

/* #section-wrapper{
	position: relative;
} */

#section{
	width: 100%; height: 100%;
	/* background-color: blueviolet; */
	position: relative;
}

#section > h1{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	font-size: 15em;
	font-weight: bold;
	color: #fff;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.card-group{
	display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: column;
	position: relative;
	width: 100%;
	height: 330px;
    top: 30%;
	margin: 10px;
}

.card-group .card{
	width: 14rem;
	height: 100%;
	margin: 3px;
}

.card-group .card img{
	width: 100%;
	height: 50%;
}