{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {# required meta tag #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {# bootstrap css #}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {# custom css & js #}
    <link rel="icon" href='../static/img/favicon.ico'>
    
    {% block css %}{% endblock %}
    
    {% block js %}{% endblock %}
    
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>{% block page_title %}{% endblock page_title %} | UMM</title>
  </head>

  <body>
    {% include "components/header.html" %}
    {% block content %}{% endblock %}
  </body>
</html>