{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/css/main.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block page_title %}{% endblock %}
{% block body %}
    <!-- 메인 시작 -->
    <!-- <div id="section-wrapper"> -->
        <div id="section" class="bg-orange-100 flex">
            {% comment %} <div class="w-full flex justify-center align-center">
                <h1>Intro</h1>
                <button class="button top-[70%]" onclick="window.location.href='/sign-in'">로그인</button>
            </div> {% endcomment %}
        </div>
        <div id="section" class="bg-orange-300"><h2>mentor&mentee</h2></div>
        <div id="section" class="bg-orange-500">
            
        </div>
        <div id="section" class="bg-orange-700"><h1>4</h1></div>
        <div id="section" class="bg-orange-900"><h1>5</h1></div>
    <!-- </div> -->
{% endblock %}