{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/css/main.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block page_title %}{% endblock %}
{% block body %}
<!-- 메인 시작 -->
<!-- <div id="section-wrapper"> -->
<div id="section" class="bg-orange-100">
    <h1>Intro</h1>
    <a href="/sign-in">
        <button class="absolute top-[70%] left-[50%]">로그인</button>
    </a>
    <div id="section1_detail">

    </div>
</div>
<div id="section" class="bg-orange-300">
    <!-- 멘토들 정보가 들어와야함.  -->
    <div class="card-group text-center">
        <div class="card">
            <img src="../static/img/nomad.jpeg" class="card-img-top object-conver" alt="...">
            <div class="card-body">
                <h5 class="card-title">멘토 이름</h5>
                <p class="card-text">멘토 소개</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/linux.jpeg" class="card-img-top object-cover" alt="...">
            <div class="card-body">
                <h5 class="card-title">멘토 이름</h5>
                <p class="card-text">멘토 소개</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/java.jpeg" class="card-img-top object-cover" alt="...">
            <div class="card-body">
                <h5 class="card-title">멘토 이름</h5>
                <p class="card-text">멘토 소개</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/oracle.jpeg" class="card-img-top object-cover" alt="...">
            <div class="card-body">
                <h5 class="card-title">멘토 이름</h5>
                <p class="card-text">멘토 소개</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/sparta.jpeg" class="card-img-top object-cover" alt="...">
            <div class="card-body">
                <h5 class="card-title">멘토 이름</h5>
                <p class="card-text">멘토 소개</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/eli.jpeg" class="card-img-top object-cover" alt="...">
            <div class="card-body">
                <h5 class="card-title">멘토 이름</h5>
                <p class="card-text">멘토 소개</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/pyt.jpeg" class="card-img-top object-cover" alt="...">
            <div class="card-body">
                <h5 class="card-title">멘토 이름</h5>
                <p class="card-text">멘토 소개</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/lamp.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">멘토 이름</h5>
                <p class="card-text">멘토 소개</p>
            </div>
        </div>
    </div>
</div>
<div id="section" class="bg-orange-300">
    <h2>mentor&mentee</h2>
</div>
<div id="section" class="bg-orange-700">
    <h1>4</h1>
</div>
<div id="section" class="bg-orange-900">
    <h1>5</h1>
</div>
<!-- </div> -->
{% endblock %}