<!-- 모달 ajax -->
<script>
    $('#myModal_signup').click(function(){
        $.ajax({
            type: 'POST',
            url: '/',
            data: {
                "email": $('#email').val(),
                "password": $('#password').val(),
                "password2": $('#password2').val(),
                success: function(){
                    alert('회원가입 성공');
                    location.reload();
                }, error: function(){
                    alert('회원가입 실패');
                }
            }
        })
    });
</script>

<!-- 모달 창 -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
        </path>
    </symbol>

    <symbol id="github" viewBox="0 0 16 16">
        <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
    </symbol>

    <symbol id="twitter" viewBox="0 0 16 16">
        <path
            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
    </symbol>

    <symbol id="facebook" viewBox="0 0 16 16">
        <path
            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
    </symbol>
</svg>
<!-- 로그인 모달창 시작 -->
<div class="modal modal-signin bg-transparent py-5" role="dialog" id="myModal_signin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-4 pb-4 border-bottom-0 flex flex-col">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&#10006;</button>
                    <p class="font-bold text-[30px]">UMM...🤔</p>
                    <p class="mt-2">얼른 로그인 안하고 뭐해요!</p>
                    <p class="text-[13px]">그대... 로그인정보 잊지 않았죠?</p>
            </div>
            <div class="modal-body p-5 pt-0">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-4" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-4" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class = "error-message">{{ error }}</div>
                <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign in</button>
                <small class="mt-2 text-xs flex justify-center text-center">로그인하시면,<br> UMM의 이용약관에 동의하는 것으로 간주합니다 :) </small>
                <hr class="my-4">
                <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4 flex flex-col items-center" type="submit">
                    <svg class="bi me-1" width="16" height="16">
                        <use xlink:href="#twitter" /></svg>
                    Sign in with Twitter
                </button>
                <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4 flex flex-col items-center" type="submit">
                    <svg class="bi me-1" width="16" height="16">
                        <use xlink:href="#facebook" /></svg>
                    Sign in with Facebook
                </button>
                <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4 flex flex-col items-center" type="submit">
                    <svg class="bi me-1" width="16" height="16">
                        <use xlink:href="#github" /></svg>
                    Sign in with GitHub
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 로그인 끝 -->
<!-- 회원가입 모달창 시작 -->
<div class="modal modal-signin bg-transparent py-5" role="dialog" id="myModal_signup">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0 flex flex-col">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&#10006;</button>
                    <p class="font-bold text-[30px]">UMM...🤔</p>
                    <p>가입해보는 거 어때요?</p>
            </div>
            <div class="modal-body p-5 pt-0">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-4" id="email"
                            placeholder="name@example.com">
                        <label for="floatingInput">이메일</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="password1"
                            placeholder="비밀번호">
                        <label for="floatingPassword">비밀번호</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="password2"
                            placeholder="비밀번호 확인">
                        <label for="floatingPassword">비밀번호 확인</label>
                    </div>
                    <div class = "error-message">{{ error }}</div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
                    <small class="mt-2 text-xs flex justify-center text-center">회원가입을 하시면,<br> UMM의 이용약관에 동의하는 것으로 간주합니다 :) </small>
                    <hr class="my-4">
                    <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                    <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4 flex flex-col items-center" type="submit">
                        <svg class="bi me-1" width="16" height="16">
                            <use xlink:href="#twitter" /></svg>
                        Sign up with Twitter
                    </button>
                    <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4 flex flex-col items-center" type="submit">
                        <svg class="bi me-1" width="16" height="16">
                            <use xlink:href="#facebook" /></svg>
                        Sign up with Facebook
                    </button>
                    <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4 flex flex-col items-center" type="submit">
                        <svg class="bi me-1" width="16" height="16">
                            <use xlink:href="#github" /></svg>
                        Sign up with GitHub
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 모달창 끝 -->

<!-- 헤더 시작 -->
<nav class="w-full fixed top-0 left-0 z-10 mainColor" style="z-index: 1;">
    <div class="max-w-12xl min-w-8xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16 flex-row">
            <div class="inset-y-0 left-0 flex items-center w-[70px] h-[70px]">
                <img src="/static/img/logo.png" alt="" class="d-inline-block align-text-top mt-1">
            </div>
            <div class="flex flex-row gap-8">
                <div>
                    home
                </div>
                <div>
                    멘토/멘티찾기
                </div>
                <div>
                    멘토링받기
                </div>
                <div class="flex flex-row gap-3">
                    <!-- 유저가 로그인되어 있으면 로그아웃이 나오게끔 -->
                    {% if user.is_authenticated %}
                    <div class="">
                        프로필
                    </div>
                    <div class="">
                        로그아웃
                    </div>
                    {% else %}
                    <button type="button" data-bs-toggle="modal" data-bs-target="#myModal_signin" data-backdrop="false">로그인</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#myModal_signup" data-backdrop="false">회원가입</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- 헤더 끝 -->