<nav class="w-full fixed top-0 left-0 z-10 mainColor" style="z-index: 1;" >
    <div class="max-w-11xl px-10 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16 flex-row">
        <div class="inset-y-0 left-0 flex items-center">
        <img src="/static/img/logo.png" alt="" width="80" height="80" class="d-inline-block align-text-top">
        </div>
        <div class="flex flex-row gap-10">
            <div>
                home
            </div>
            <div>
                멘토/멘티찾기
            </div>
            <div>
                멘토링받기
            </div>
            <div class="flex flex-row gap-3">
                <!-- 유저가 로그인되어 있으면 로그아웃이 나오게끔 -->
                {% if user.is_authenticated %}
                <div class="">
                    프로필
                </div>
                <div class="">
                    로그아웃
                </div>
                {% else %}
                <!-- 로그아웃 상태인경우면 로그인 회원가입인 상태 -->
                <div>
                    로그인
                </div>
                <div>
                    회원가입
                </div>
                <div>
                    <button id ="login-show">로그인</button>
                    <div class="modal">
                        <div class="top-form">
                            <div class="close-modal">
                                X
                            </div>
                        </div>
                        <div class="login-form">

                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
