{% extends 'main.html' %}
{% load static %}
{% block page_title %}Sign-up{% endblock page_title %}
{% block content %}
  <div class="container">
    <div class="wrapper">
      <div class="login-content">
        <div class="form-content">
          <img src="/static/img/logo.png" alt="" width="100" height="80" class="d-inline-block align-text-top">
          <h3>계정 만들기</h3>
          <div class="form-data">
            <form method="post" action='/sign-up/'>
              {% csrf_token %}
              <div class="form-floating mb-3 input">
                <label for="floatingInput">이메일</label>
                <input type="email" class="form-control auth-input" id="email" name="email" placeholder="이메일"/>
              </div>
              <div class="form-floating mb-3 input">
                <label for="floatingInput">비밀번호</label>
                <input type="password" class="form-control auth-input" id="password" name="password" placeholder="비밀번호"/>
              </div>
              <div class="form-floating mb-3 input">
                <label for="floatingInput">비밀번호 확인</label>
                <input type="password" class="form-control auth-input" id="password2" name="password2" placeholder="비밀번호 확인"/>
              </div>
              <div class = "error-message">{{ error }}</div>
              <div class="btn-wrapper">
                <button class="btn-signup" style="padding:13px">회원가입</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
